html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #f6f9fc;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-family: 'Libre Baskerville', serif;
}

h3 {
  font-family: 'Libre Baskerville', serif;

}

p {
  margin-bottom: 18px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #565e69; 
}

h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.navigation{
  background-color: #f6f9fc;
  height: 65px;
}

.logoContainer {
  padding-left: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.buttonLink {
  text-decoration: none;
  color: #1b4fce;
  font-family: 'Open Sans', sans-serif;

}

.buttonLink:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navlistItem{
  padding-left: 20px;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.navBarListRight {
  float: right;
  height: 100%;
  padding-right: 40px;
}

.heroBanner {
  text-align: center;
  padding: 26vh 0px;
}

.heroHeader {
  font-size: 32px;
  width: 80%;
  margin: 0 auto;
}

.heroSubheader {
  margin: 20px auto;
  font-size: 20px;
  padding: 0px 10px;
  opacity: 0.8;
}

.logoHeader {
  height: 40px;
  margin: 20px auto;
}

.primaryButton {
  background-color: #1b4fce;
  color: white;
  font-size: 16px;
  margin: 30px 0px;
  padding: 15px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.primaryButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.credibility {
  padding: 75px 0px;
  text-align: center;
  background-color: #ffffff;
}

.credText {
  width: 400px;
  display: inline-block;
  text-align: left;
  margin: 0px 50px;
}

.sectionHeader {
  font-size: 35px;
  margin-bottom: 20px;
}

.proofCredColumn {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 15px;
}

.proofColumn {
  width: 200px;
  height: 300px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background: white;
  box-shadow: 0 9px 32px 0 rgba(0,0,0,0.1);
  display: inline-block;
  margin: 0px 5px;
  background-color: #f6f9fc;
  vertical-align: top;
}

.columnHeader {
  text-align: center;
  top: 25%;
  position: relative;
}

.proofColumnText {
  font-family: 'Avenir Next',sans-serif;
  line-height: 1.5;
  margin: 0px 15px;
}

.proofIcon {
  max-height: 40px;
  margin-bottom: 15px;
}

.valueProp {
  padding: 75px 0px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.offerColumnContainer {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  width: 90%;
  justify-content: center;
}

.offerColumnHeader {
  margin-bottom: 15px;
  color: #1b4fce;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
}

.offerColumn {
  display: inline-block;
  width: 430px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background: white;
  box-shadow: 0 9px 32px 0 rgba(0,0,0,0.1);
  margin: 0px 25px 10px 25px;
  padding: 40px;
  text-align: left;
}

.descBulletPoints {
  display: list-item;
  font-size: 15px;
  line-height: 1.5;
  margin: 10px 0px;
  color: #565e69;
  font-family: 'Avenir Next', sans-serif;
}

.press {
  display: block;
  width: 960px;
  margin: 0 auto;
  padding: 90px 0px;
}

.pressContainer {
  height: 470px;
  display: flex;
}

.pressBigImageContainer {
  height: 100%;
  width: 50%;
  position: relative;
  margin: 5px;
}

.pressContent {
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translateY(10%);
}

.bigImage {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.bigImageTextContainer {
  bottom: 0px;
  position: absolute;
  text-align: left;
  padding: 0px 25px;
}

.boldClaim {
  font-size: 28px;
  color: white;
}

.bigImageSubText {
  width: 90%;
  color: white;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5em;
  font-family: helvetica;
}

.pressSmallImageContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.pressArticles {
  height: 49%;
  width: 47%;
  margin: 5px;
  position: relative;
  border-radius: 4px;
  display: inline-block;
}

.articleLink {
  text-decoration: none;
}

.whiteContainer {
  background-color: #ffffff;
}

.peachArticle {
  background-color: #ee956d;
}

.greyArticle {
  background-color: #455061;
}

.greenArticle {
  background-color: #aeceae;
}

.purpleArticle {
  background-color: #7081e2;
}

.pressArticleHeader {
  height: 25px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.pressBlurb {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
}

.pressSoloArticle {
  width: 99%;
  margin: 15px auto;
  border-radius: 4px;
  display: block;
  background-color: #EF7B5F;
  text-align: center;
  height: 110px;
}

.pressSoloContent {
  height: 100%;
  width: 85%;
  margin: 0 auto;

}

.pressSoloArticleHeader {
  height: 40px;
  margin-top: 15px;
}

.soloPressBlurb {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px; 
}

.testimonial {
  padding: 75px 0px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  display: none;
}

.companyTestimonial {
  color: #484848;
  text-align: center;
  font-size: 18px;
}


.companyInfo {
  color: #484848;
  margin-top: 25px;
}

.employee {
  font-size: 18px;
}

.companyName {
  font-size: 14px;
}

.testimonialTabs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* testimonialTabs controls the herobanner icons and the testimonal section that is currently hidden. */

.topBorder {
  border-top: 2px solid;
}

.companyTab {
  margin: 25px;
}

.company {
  height: 40px;
  max-width: 100%;
}

.ourBackground {
  text-align: center;
  padding: 75px 0px;
}

.logoRowContainer {
  margin: 25px 0px;
}

.logoRow {
  margin-top: 25px;
}

.logo {
  height: 40px;
  margin: 25px;
}

.footer {
  padding: 50px 125px 32px 125px;
  text-align: center;
  background-color: #ffffff
}

.chatText {
  margin-bottom: 0px;
}

.footerLink {
  font-family: 'Open Sans', sans-serif;
  color: #565e69;
  text-decoration: none;
}

.footerLink:hover {
  cursor: pointer;
  opacity: 0.8;
}


@media screen and (max-width: 960px) {
  .heroHeader{
    font-size: 25px;
    width: 85%;
  }

  .heroSubHeader {
    font-size: 18px;
  }

  .press {
    width: 75%;
    text-align: center;
  }

  .pressContainer {
    height: 100%;
    display: block;
  }

  .pressBigImageContainer {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .bigImage {
    max-height: 580px;
  }

  .bigImageTextContainer {
    padding: 0px;
    left: 15px;
    bottom: 0px;
  }

  .pressSmallImageContainer {
    margin: 0 auto;
    display: block;
    width: 94%;
  }

  .pressArticles {
    vertical-align: top;
    display: inline-block;
    width: 47%;
    margin: 4px 2px;
    height: 190px;
  }

  .pressArticleHeader {
    height: 30px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }

  .pressSoloArticle {
    height: 135px;
    width: 90%;
    margin: 4px auto;
  }

  .offerColumnContainer {
    display: block;
  }

  .offerColumn {
    width: 75%;
    margin: 0px 0px 10px 0px;
  }

  .pressContent {
    position: relative;
    height: 100%;
    transform: translateY(5%);
  }

  .testimonial {
    width: 90%;
  }

  .footer {
    padding: 30px 0px 12px 0px;
  }
}

@media screen and (max-width: 645px) {
  p {
    font-size: 14px;
  }

  h4 {
    font-size: 16px;
  }
  .heroHeader {
    font-size: 20px;
    width: 90%;
  }

  .heroSubheader {
    font-size: 15px;
    width: 75%;
  }
  .sectionHeader {
    font-size: 25px;
  }

  .credText {
    margin: 0px;
    width: 90%;
  }

  .proofColumn {
    display: block;
    width: 85%;
    margin: 10px auto;
  }

  .proofColumnText {
    font-size: 16px;
  }

  .valueProp {
    width: 100%;
  }

  .descBulletPoints {
    font-size: 14px;
  }

  .press {
    width: 100%;
  }

  .boldClaim {
    font-size: 20px;
  }

  .bigImageSubText {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .pressArticles {
    height: 220px;
  }

  .pressContent {
    transform: translateY(10%);
  }

  .pressBlurb {
    font-size: 13px;
  }

  .testimonialTabs {
    display: block;
    width: 90%;
  }

  .companyTestimonial {
    font-size: 14px;
  }

  .employee {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .companyName {
    font-size: 12px;
  }

  .companyTab {
    width: 49%;
    display: inline-block;
    margin: 10px 0px;
  }

  .logoContainer {
    padding-left: 20px;
  }

  .navBarListRight {
    padding-right: 20px;
  }
}

@media screen and (max-width: 360px) {
  .logoContainer{
    padding-left: 15px;
  }

  .navBarListRight {
    padding-right: 15px;
  }

  .navlistItem {
    padding-left: 10px;
  }

  .pressArticles {
    height: 240px;
  }

  .pressSoloArticle {
    height: 150px;
    margin: 4px auto;
  }
}

@media screen and (max-height: 640px) {
  .heroBanner {
    padding: 10vh 0px;
  }
}

